@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Lato&family=Rubik:wght@300&family=Staatliches&display=swap");
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow: hidden;
  // @media screen and (max-width: 768px) {
  //   width: 89%;
  // }
  .facebook-logo {
    background-image: url("../../assets/facebook.svg");
  }
  .number-button {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .number-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .number-buttons {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 125px;
    justify-content: space-evenly;
  }
  .section-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -43px;
    @media screen and (max-width: 768px) {
      padding-left: 15%;
      padding-right: 15%;
    }
  }
  .section-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }
  .title {
    font-family: "Staatliches", sans-serif;
    font-size: 5vw;
    font-weight: 400;
    letter-spacing: 0.02em;
    text-align: center;
  }
  .sub-title {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-align: center;
  }
  .card-scroll-container {
    position: relative;
    width: 100%;
    height: 400px; // Adjust as needed
    white-space: nowrap;

    animation: scrollCards 60s linear infinite; // Adjust duration as needed

    @keyframes scrollCards {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(
          -100%
        ); // Adjust based on total width of all cards
      }
    }
  }

  .card {
    position: absolute;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    animation: pulseCard 1s infinite alternate;

    @keyframes pulseCard {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.05);
      }
    }
  }
}

.search-bar {
  margin-bottom: 20px;
  .search-input {
    padding: 16px 6px 16px 24px;
    margin-right: 10px;
    border: 2px solid rgba(255, 255, 255, 0.08);
    width: 50vw;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.16),
      rgba(255, 255, 255, 0.16)
    );
    border-radius: 15px;
  }
  .search-button {
    cursor: pointer;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.16),
      rgba(255, 255, 255, 0.16)
    );
    border: 2px solid rgba(255, 255, 255, 0.08);
    padding: 10px 24px 10px 24px;
    border-radius: 12px;
    margin-left: -115px;
    color: rgba(255, 255, 255, 0.16);
    background-color: rgba(255, 255, 255, 0.001);
  }
}

.explanation-container {
  text-align: center;
  margin-bottom: 20px;

  .report-button {
    // Stylish button
    padding: 10px 20px;
    background-color: #ff4757;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none; // Remove underline from link
    display: inline-block; // Allows padding and margin
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &:hover {
      background-color: #ff6b81;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }
  }
}

.recent-reports {
  width: 50%;
  max-width: 1200px;
  margin: auto;

  h2 {
    text-align: center;
  }

  ul {
    display: grid;
    grid-gap: 20px;
    list-style: none;
    padding: 0;
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
    width: 100%;

    li {
      display: flex;
      align-items: center;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      transition: box-shadow 0.3s ease-in-out;
      background-color: rgba(255, 255, 255, 0.08);
      &:hover {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      }

      .profile-image {
        width: 35px;
        height: 35px;
        margin-right: 10px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
      }

      .profile-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .recent-reports ul {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

.relative {
  position: relative;
  height: 380px;
  // overflow: hidden;
  padding-top: 1rem;

  .card {
    position: absolute;
    width: 300px;
    border-radius: 0.75rem; // rounded-lg
    border: 1px solid #ddd; // bg-card
    background-color: #f3f4f6; // text-card-foreground
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -4px rgba(0, 0, 0, 0.1);
    animation: pulse 1s infinite ease-in-out;
    transition: all 1s ease-in-out;

    .card-header {
      display: flex;
      flex-direction: column;
      gap: 0.375rem; // space-y-1.5
      padding: 1.5rem; // p-6
      font-size: 0.875rem; // text-sm
      font-weight: 600; // font-semibold
      color: #ef4444; // text-red-700
    }

    .card-body {
      padding: 1.5rem;
      padding-top: 0; // pt-0

      p {
        font-size: 0.875rem; // text-sm
      }

      .link {
        font-weight: 600; // font-semibold
        text-decoration: underline;
        color: #ef4444; // text-red-700
      }
    }
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
